@import "//rippleunion.com/base.css";
@import "//rippleunion.com/form.css";

form {
	width: 70%;
}

form button {
	margin-bottom: 1em;
}

input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body > header p {
	clear: both;
	text-align: right;
}

table {
	border-spacing: 1em 0.5em;
	margin: auto;
	width: 100%;
	max-width: 65em;
}

table tr {
	width: 100%;
}

table th, table td {
	text-align: center;
}

table td:first-child {
	word-break: break-all;
	overflow: hidden;
}
